---
title: Eyes Everywhere
description: There isn't a brand that is not in our peripheral nor an event in
  sports and entertainment that we haven't touched. Our aim is to dive as deep
  as we can into the belly of S&E commerce, to see what has been missed, to
  analyse the past trend, evaluate the current scenario and predict the future.
---
<p class="editor-link" style="text-align: center;"><a href="cloudcannon:collections/_staff_members/" class="btn"><strong>&#9998;</strong> Manage Staff members</a></p>
<ul class="staff editable">
	{% for person in site.staff_members %}
		<li>
			<div class="square-image"><img src="{% include relative-src.html src=person.image_path %}" alt="{{ person.name }}"/></div>
			<div class="name"><a target="_blank" href="https://linkedin.com/in/{{ person.linkedin }}">{{ person.name }}</a></div>
			<div class="position">{{ person.position }}</div>
		</li>
	{% endfor %}
</ul>
