---
title: Services
heading: Customised Service As Per Your Brand Requirements
description:
services_table:
  - name: SPONSOR INSIGHTS
    color: "#c54848"
    features:
      - text: Find sponsorship deals for Sports & Entertainment events
        highlight: true
      - text: To analyse the market and predict the future growth trend
        highlight: true
    call_to_action:
      link: mailto:contact@intutmi.com?subject=Sponsorship%20Deal%20Database%20Inquiry&body=An%20inquiry%20has%20been%20made%20for%20sponsorship%20deals
      text: Get in Touch
  - name: FANS INSIGHT
    color: "#4a4a4a"
    features:
      - text: Primary information tank updated every 3 months
        highlight: true
      - text: To gauge genuine change in fan’s perception.
        highlight: true
    call_to_action:
      link: mailto:contact@intutmi.com?subject=FANS%20INSIGHT%20-%20PRIMARY&body=An%20inquiry%20has%20been%20made%20for%20the%20fans%20insight%20database
      text: Get in Touch
  - name: BRAND MONITOR
    color: "#5f3e3e"
    features:
      - text: Information database of major mediums including brand exposure
        highlight: true
      - text: To evaluate brand presence real time!
        highlight: true
    call_to_action:
      link: mailto:contact@intutmi.com?subject=Brand%20Monitor%20Inquiry
      text: Get in Touch
  - name: SOCIAL CLIMATE
    color: "#703b17"
    features:
      - text: Analyzing Social Media handles and providing trends
        highlight: true
      - text: To understand fan’s perception of brand popularity
        highlight: true
    call_to_action:
      link: mailto:contact@intutmi.com?subject=Social%20Climate%20Inquiry
      text: Get in Touch
  - name: INFLUENCER PITCH
    color: "#1b4515"
    features:
      - text: Get in touch with influencers with then right audience fit.
        highlight: true
      - text: To ensure your brand gets the right person for the job!
        highlight: true
    call_to_action:
      link: mailto:contact@intutmi.com?subject=Inquiry%20for%20Influencer
      text: Get in Touch

faq:
  - question: Do you offer pricing for nonprofit organizations or startups?
    answer: Yes! <a href="#">Drop us a message</a> and we'll set you up on our nonprofit pricing.
  - question: Couldn't find what you were looking for?
    answer: Get in touch with us at <a href="mailto:contact@intutmi.com?subject=Pricing%20for%20Nonprofit%20or%20Startups">contact@intutmi.com</a> and let's make it happen!
---

<div class="plans editable">
				<ul class="plan">
					<li style="background: #c54848">
						<h3>SPONSOR INSIGHTS</h3>
					</li>
					<li class="highlighted">Find sponsorship deals for Sports &amp; Entertainment events</li>
					<li class="highlighted">Analyse the market and predict the future growth trend</li>
					<li class="pricing-cta">
						<div class="button"><a style="background: #c54848" href="mailto:contact@intutmi.com?subject=Sponsorship%20Deal%20Database%20Inquiry&amp;body=An%20inquiry%20has%20been%20made%20for%20sponsorship%20deals">Get in Touch &rarr;</a></div>
					</li>
				</ul>
				<ul class="plan">
					<li style="background: #4a4a4a">
						<h3>FANS INSIGHT</h3>
					</li>
					<li class="highlighted">Primary information tank updated every 3 months</li>
					<li class="highlighted">Gauge genuine change in fan&rsquo;s perception</li>
					<li class="pricing-cta">
						<div class="button"><a style="background: #4a4a4a" href="mailto:contact@intutmi.com?subject=FANS%20INSIGHT%20-%20PRIMARY&amp;body=An%20inquiry%20has%20been%20made%20for%20the%20fans%20insight%20database">Get in Touch &rarr;</a></div>
					</li>
				</ul>
				<ul class="plan">
					<li style="background: #5f3e3e">
						<h3>BRAND MONITOR</h3>
					</li>
					<li class="highlighted">Information database of major mediums including brand exposure</li>
					<li class="highlighted">Evaluate brand presence real time!</li>
					<li class="pricing-cta">
						<div class="button"><a style="background: #5f3e3e" href="mailto:contact@intutmi.com?subject=Brand%20Monitor%20Inquiry">Get in Touch &rarr;</a></div>
					</li>
				</ul>
				<ul class="plan">
					<li style="background: #703b17">
						<h3>SOCIAL CLIMATE</h3>
					</li>
					<li class="highlighted">Analyzing Social Media handles and providing trends</li>
					<li class="highlighted">Understand fan&rsquo;s perception of brand popularity</li>
					<li class="pricing-cta">
						<div class="button"><a style="background: #703b17" href="mailto:contact@intutmi.com?subject=Social%20Climate%20Inquiry">Get in Touch &rarr;</a></div>
					</li>
				</ul>
				<ul class="plan">
					<li style="background: #1b4515">
						<h3>INFLUENCER PITCH</h3>
					</li>
					<li class="highlighted">Get in touch with influencers with then right audience fit.</li>
					<li class="highlighted">Ensure your brand gets the right person for the job!</li>
					<li class="pricing-cta">
						<div class="button"><a style="background: #1b4515" href="mailto:contact@intutmi.com?subject=Inquiry%20for%20Influencer">Get in Touch &rarr;</a></div>
					</li>
				</ul>
			</div>

{% if page.faq %}
	<h2>Frequently Asked Questions</h2>
	<dl class="faq">
		{% for item in page.faq %}
			<div class="editable">
			<dl><dt>Couldn't find what you were looking for?</dt>
				<dd>Get in touch with us at <a href="mailto:contact@intutmi.com?subject=Pricing%20for%20Nonprofit%20or%20Startups">contact@intutmi.com</a> and let's make it happen!</dd>
			</dl>
		</div>
		{% endfor %}
	</dl>
{% endif %}
