---
title: Services
heading: Customised Service As Per Your Brand Requirements
description:
services_table:
  - name: SPONSOR INSIGHTS
    color: "#c54848"
    features:
      - text: Find sponsorship deals for Sports & Entertainment events
        highlight: true
      - text: To analyse the market and predict the future growth trend
        highlight: true
    call_to_action:
      link: mailto:contact@intutmi.com?subject=Sponsorship%20Deal%20Database%20Inquiry&body=An%20inquiry%20has%20been%20made%20for%20sponsorship%20deals
      text: Get in Touch
  - name: FANS INSIGHT
    color: "#4a4a4a"
    features:
      - text: Primary information tank updated every 3 months
        highlight: true
      - text: To gauge genuine change in fan’s perception.
        highlight: true
    call_to_action:
      link: mailto:contact@intutmi.com?subject=FANS%20INSIGHT%20-%20PRIMARY&body=An%20inquiry%20has%20been%20made%20for%20the%20fans%20insight%20database
      text: Get in Touch
  - name: BRAND MONITOR
    color: "#5f3e3e"
    features:
      - text: Information database of major mediums including brand exposure
        highlight: true
      - text: To evaluate brand presence real time!
        highlight: true
    call_to_action:
      link: mailto:contact@intutmi.com?subject=Brand%20Monitor%20Inquiry
      text: Get in Touch
  - name: SOCIAL CLIMATE
    color: "#703b17"
    features:
      - text: Analyzing Social Media handles and providing trends
        highlight: true
      - text: To understand fan’s perception of brand popularity
        highlight: true
    call_to_action:
      link: mailto:contact@intutmi.com?subject=Social%20Climate%20Inquiry
      text: Get in Touch
  - name: INFLUENCER PITCH
    color: "#1b4515"
    features:
      - text: Get in touch with influencers with then right audience fit.
        highlight: true
      - text: To ensure your brand gets the right person for the job!
        highlight: true
    call_to_action:
      link: mailto:contact@intutmi.com?subject=Inquiry%20for%20Influencer
      text: Get in Touch

faq:
  - question: Do you offer pricing for nonprofit organizations or startups?
    answer: Yes! <a href="#">Drop us a message</a> and we'll set you up on our nonprofit pricing.
  - question: Couldn't find what you were looking for?
    answer: Get in touch with us at <a href="mailto:contact@intutmi.com?subject=Pricing%20for%20Nonprofit%20or%20Startups">contact@intutmi.com</a> and let's make it happen!
---
<div class="plans">
	{% for plan in page.services_table %}
		<ul class="plan">
			<li style="background: {{ plan.color }}">
				<h3>{{ plan.name }}</h3>
			</li>
			{% for feature in plan.features %}
				<li {% if feature.highlight %} class="highlighted"{% endif %}>{{ feature.text }}</li>
			{% endfor %}
			{% if plan.call_to_action %}
				<li class="pricing-cta"><div class="button"><a style="background: {{ plan.color }}" href="{{ plan.call_to_action.link }}">{{ plan.call_to_action.text }} &rarr;</a></div></li>
			{% endif %}
		</ul>
	{% endfor %}
</div>

{% if page.faq %}
	<h2>Frequently Asked Questions</h2>
	<dl class="faq">
		{% for item in page.faq %}
			<div>
				<dt>{{ item.question }}</dt>
				<dd>{{ item.answer }}</dd>
			</div>
		{% endfor %}
	</dl>
{% endif %}
